In [ ]:
import pandas as pd

In [1]:
pd.__version__

NameError: name 'pd' is not defined

In [ ]:
nba = pd.read_csv("nba.csv")

## Shared Methods and Attributes

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba.head(1)

In [ ]:
nba.tail()

In [ ]:
nba.index

In [ ]:
nba.values

In [ ]:
nba.shape

In [ ]:
nba.dtypes

In [ ]:
nba.head()

In [ ]:
nba.columns

In [ ]:
nba.axes

In [ ]:
nba.info()

In [ ]:
nba.get_dtype_counts()

In [ ]:
rev = pd.read_csv("revenue.csv", index_col = "Date")
rev.head(3)

In [ ]:
s = pd.Series([1, 2, 3])
s.sum()

In [ ]:
rev.sum(axis = "columns")

## Select One Column from a `DataFrame`

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

## Select Two or More Columns from A `DataFrame`

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba[["Team", "Name"]].head(3)
nba[["Number", "College"]]
nba[["Salary", "Team", "Name"]].tail()

In [ ]:
select = ["Salary", "Team", "Name"]
nba[select]

## Add New Column to `DataFrame`

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

nba["Sport"] = "Basketball"
nba.head(3)

nba["League"] = "National Basketball Association"
nba.head(3)

nba = pd.read_csv("nba.csv")
nba.head(3)

nba.insert(3, column = "Sport", value = "Basketball")
nba.head(3)

nba.insert(7, column = "League", value = "National Basketball Association")
Output = None

## Broadcasting Operations

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba["Age"].add(5)
nba["Age"] + 5

nba["Salary"].sub(5000000)
nba["Salary"] - 5000000

nba["Weight"].mul(0.453592)
nba["Weight in Kilograms"] = nba["Weight"] * 0.453592

In [ ]:
nba.head(3)

In [ ]:
nba["Salary"].div(1000000)
nba["Salary in Millions"] = nba["Salary"] / 1000000

In [ ]:
nba.head(3)

## A Review of the `.value_counts()` Method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba["Team"].value_counts()
nba["Position"].value_counts().head(1)
nba["Weight"].value_counts().tail()
nba["Salary"].value_counts()

## Drop Rows with Null Values

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.tail(3)

In [ ]:
nba.dropna(how = "all", inplace = True)

In [ ]:
nba.tail(3)

In [ ]:
nba.head(3)

In [ ]:
nba.dropna(subset = ["Salary", "College"])

## Fill in Null Values with the `.fillna()` Method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.fillna(0)

In [ ]:
nba["Salary"].fillna(0, inplace = True)

In [ ]:
nba.head()

In [ ]:
nba["College"].fillna("No College", inplace = True)

In [ ]:
nba.head()

## The `.astype()` Method

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"].fillna(0, inplace = True)
nba["College"].fillna("None", inplace = True)
nba.head(6)

In [ ]:
nba.dtypes
nba.info()

In [ ]:
nba["Salary"] = nba["Salary"].astype("int")

In [ ]:
nba.head(3)

In [ ]:
nba["Number"] = nba["Number"].astype("int")
nba["Age"] = nba["Age"].astype("int")
nba.head(3)

In [ ]:
nba["Age"].astype("float")

In [ ]:
nba["Position"].nunique()

In [ ]:
nba["Position"] = nba["Position"].astype("category")

In [ ]:
nba["Team"] = nba["Team"].astype("category")

In [ ]:
nba.head()

## Sort a `DataFrame` with the `.sort_values()` Method, Part I

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.sort_values("Name", ascending = False)

nba.sort_values("Age", ascending = False)

nba.sort_values("Salary", ascending = False, inplace = True)
nba.head(3)

In [ ]:
nba.sort_values("Salary", ascending = False, na_position = "first").tail()

## Sort a `DataFrame` with the `.sort_values()` Method, Part II

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.sort_values(["Team", "Name"], ascending = [True, False], inplace = True)
nba.head(3)

## Sort `DataFrame` with the `.sort_index()` Method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.sort_values(["Number", "Salary", "Name"], inplace = True)
nba.tail(3)

In [ ]:
nba.sort_index(ascending = False, inplace = True)

In [ ]:
nba.head(3)

## Rank Values with the `.rank()` Method

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"] = nba["Salary"].fillna(0).astype("int")
nba.head(3)

In [ ]:
nba["Salary Rank"] = nba["Salary"].rank(ascending = False).astype("int")
nba.head(3)

In [ ]:
nba.sort_values(by = "Salary", ascending = False)